.navbar-container {
  background-color: #262626;
  color: white;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.navbar-user {
  position: relative;
}
.navbar-user > * {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: inherit;
  color: inherit;
}

.navbar-user > .navbar-menu:hover {
  color: #ffb548;
}
